.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next, .swiper-button-prev {color: #fff!important;}
div.swiper-slide.swiper-slide-active p img.alignnone {
margin-top: 0px;
margin-bottom: 0px;}
swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 35%;
    color: #fff!important;
    display: none;
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #fff!important;}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.slideLeft {
    float: left;
    width: 50%;
    position: relative;
    height: 520px;
}

div.slideRight {
    float: right;
    width: 50%;
    position: relative;
    height: 520px;

}

div.cd-timeline-block.firstKing div.slideLeft, div.cd-timeline-block.interregnum div.slideLeft {
height: 580px;}
div.swiper-slide {
    display: block;
    background-color: #666;
}
div.swiper-slide img {
}
p.caption {
    font-family: akkurat, san-serif;
    font-size: .8em;
    color: #fff;
    text-align: left;
    background-color: #666;
    padding: 1em;
    margin-top: -1px;
    z-index: 100;
min-height: 100%;
}
p.smallPhotoCaption {
    font-family: akkurat, san-serif;
    font-size: .8em;
    color: #666;
    text-align: center;
}

div.smallPhotosTop {
    width: 45%;
    float: left;
    position: relative;
    top: 550px;
    left: -49%;
    display: block;
    z-index: 150;
}
div.smallPhotosTop3 {
    width: 50%;
    float: left;
    position: relative;
    top: 500px;
    left: -45%;
    display: block;
    z-index: 100;
}
div.smallPhoto1a {
    width: 50%;
    float: left;
transform: rotate(-5deg);
}
div.smallPhoto1b {
    width: 50%;
    float: left;
    transform: rotate(5deg);
}
div.smallPhoto3a {
width: 70%;
float: left;
transform: rotate(-5deg);
}

div.smallPhoto1a img, div.smallPhoto1b img, div.smallPhoto3a img {box-shadow: 10px 10px 5px rgb(0 0 0 / 50%);}
.borderwhiteSmall {border: 12px solid #fff;}

.cd-timeline-block.stableReign {margin-top: 15em;}

.cd-timeline-block.firstKing div.explainer {margin-top: -98%;}
.cd-timeline-block.stableReign div.explainer {margin-top: -108%;
    float: left;}
.cd-timeline-block.tumult div.explainer {margin-top: -110%;}
.cd-timeline-block.interregnum div.explainer {margin-top: -112%;float: left;}
.cd-timeline-block.return div.explainer {margin-top: -112%; float: left;}
.cd-timeline-block.darkthrone div.explainer {margin-top: -110%; float: left;}
.cd-timeline-block.longest div.explainer {}
.cd-timeline-block.beginning div.explainer {margin-top: -110%; float: left;}

div.topintro p {font-size: 1.5em;}

@media only screen and (max-width: 1150px) {
.cd-timeline-block.stableReign {margin-top: 8em;}

/*.cd-timeline-block.firstKing div.explainer {margin-top: -125%;}*/
.cd-timeline-block.stableReign div.explainer {float: left;}
/*.cd-timeline-block.tumult div.explainer {margin-top: -120%;}*/
.cd-timeline-block.interregnum div.explainer {float: left;}
.cd-timeline-block.return div.explainer {margin-top: -122%;}
.cd-timeline-block.darkthrone div.explainer {margin-top: -120%; float: left;}
/*.cd-timeline-block.longest div.explainer {margin-top: -120%;}*/
.cd-timeline-block.beginning div.explainer {margin-top: -120%; float: left;}
}

@media only screen and (max-width: 960px) {
.cd-timeline-block.firstKing div.explainer {margin-top: -100%;}
.cd-timeline-block.interregnum div.explainer {margin-top: -130%;float: left;}
.cd-timeline-block.stableReign {margin-top: -5em;}
}
@media only screen and (max-width: 800px) {
.cd-timeline-block.firstKing div.explainer {margin-top: -130%; margin-bottom: 2em;}
}
@media only screen and (max-width: 800px) {
div.slideLeft, div.slideRight {
width: 100%;
margin-bottom: 1.4em;}
div.cd-timeline-block.firstKing div.slideLeft {
margin-bottom: 2em;}
div.smallPhotosTop, div.smallPhotosTop3 {display: none;}

.cd-timeline-block.stableReign  {margin-top: -5%; float: none;}

.cd-timeline-block.stableReign div.explainer {margin-top: -4em; float: none;}
.cd-timeline-block.tumult div.explainer {margin-top: -29em;}
.cd-timeline-block.interregnum div.explainer {margin-top: -30em;float: none;}
.cd-timeline-block.return div.explainer {margin-top: -27em;float: none;}
.cd-timeline-block.darkthrone div.explainer {margin-top: -26em; float: none;}
.cd-timeline-block.longest div.explainer {margin-top: -29em;}
.cd-timeline-block.beginning div.explainer {margin-top: -30em; float: none;}
}

@media only screen and (max-width: 425px) {
.swiper-button-next, .swiper-button-prev, swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {display: none!important;}
 .cd-timeline-block.interregnum div.explainer {
    float:none;
    margin-top: -7em;}
    div.cd-timeline-block.firstKing div.slideLeft {
    margin-bottom: -4em;
}
    .cd-timeline-block.firstKing div.explainer {
    margin-top: -8%;
}
p.caption {
min-height: 120px;
}
}

@media only screen and (max-width: 350px) {
.cd-timeline-block.darkthrone div.explainer {
    margin-top: 0em;
    float: none;
}
}
